:local(.wrapper) {
    height: 2100vh;
}
.animation {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
.textPath {
    transform-origin: center;
}
.names {
    font-size: 18px;
}