@import "../../common/util";
.container {
  @include container;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  img, div {
    @include medium {
      max-height: 70vh;
      max-width: 70vw;
    }
    object-fit: contain;
  }
  div {
    flex: 1;
    margin: 0 auto;
  }
}

.noMobileFadeContainer {
  @include portrait {
    height: auto;
    display: block;
    position: inherit;
    margin-bottom: -85vh;
    margin-top: mt();
  }
}

.portraitOnly {
  display: none;
  @include portrait {
    display: inherit;
  }

}