@import "../../common/util";
.container {
  @include container;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  img, div {
    @include medium {
      max-height: 70vh;
      max-width: 70vw;
    }
    object-fit: contain;
  }
  div {
    flex: 1;
    margin: 0 auto;
  }
}
