.artistName {
    font-size: 14px;
    fill: #000;
    pointer-events: none;
}
.artistNameTag {
    fill: rgb(255,255,255);
    stroke: transparent;
    pointer-events: none;
}
.blob {
    fill: transparent;
    stroke: #000;
    &:hover {
        fill: #00ff3399;
    }
}
.cursor {
    fill: url(#cursorGradient)
}
.wrapper {
    position: relative;
    svg, canvas {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

}