@import "../../common/util.scss";


.container {
  margin-bottom: 7vh;
  @include portrait {
    margin-left: var(--page-gutter);
    margin-bottom: calc(100vh/11);
  }
}

.container section:first-of-type {
  margin-top: 100vh;
}