@import "../../common/util.scss";


.container {
  margin-bottom: 7vh;
  @include portrait {
    margin-bottom: calc(100vw/11);
  }
}

.container section:first-of-type {
  margin-top: 100vh;
}

.noCoverContainer section:first-of-type {
  margin-top: 12em !important;
}
