@import "../../common/util";

.container {
  @include m;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include medium {
    margin-top: var(--page-gutter);
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
  }
}

.intoTitle {
  margin: 1em 0;
  font-size: 36px;
  line-height: 1.1em;
  font-family: var(--header-font);
}

.intoText {

}