.container {
  width: 100%;
  height: 1200px; /* TEMP */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  opacity: 0.2;
  font-size: 12vw;
  font-family: sans-serif;
  font-weight: 700;
  line-height: initial;
  text-align: center;
}

h2 {
  margin-bottom: 1em;
  color: var(--background-color);
  width: 70%;
  margin: 1em auto;
  font-weight: normal;
}

p {
  margin-bottom: 1em;
  color: var(--background-color);
  width: 70%;
  margin: 1em auto;
}


.blendMultiply {
  /* mix-blend-mode : hard-light; */
  mix-blend-mode: difference;
}
.blendScreen {
	mix-blend-mode : screen;
	height : 100%; 
	width : 100%; 
	position: absolute; 
	top : 0; 
	left : 0;
	background-color: white;
}

.maskBg {
	background-color: white;
	height : 100%; 
	width : 100%; 
	position: absolute; 
	top : 0; 
	left : 0;
}
.content {
  background: white;
	height : 100%; 
	width : 100%; 
	position: absolute;
	top : 0; 
	left : 0;
}

.circleFollow, .circleFollowOutline {
	position :absolute;
	overflow : hidden;
	width :40em; 
	height: 40em;
  top:calc( 50% - 20em); 
  left:calc( 50% - 20em); 
  -webkit-border-radius: 20em; 
  border-radius: 20em;  
}

.circleFollow {
	background-color: var(--background-color);
}

.circleFollowOutline {
  border: 1px solid white; 
}

/* untested hack to detect ie11 and above - blend mode not supported */
_:-ms-fullscreen, :root .animatedBg {opacity: 0.2;}
_:-ms-fullscreen, :root .circleFollow {background-color: var(--background-color); opacity: 0.2; }