@import "../../common/util";

.container {
  @include m;
  // text-align: left;
  // position: absolute;
  // left: 0;
  // top: 0;
  // z-index: 1;

  @include medium {
    margin-top: var(--page-gutter);
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
  }

}

.nnTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.infoWrapper h3 {
  margin-top: 1em;
}

.infoContainer {
  column-count: 2;
  text-align: justify;
  -webkit-column-width: 350px;
  -moz-column-width: 350px;
  column-width: 350px;
  column-gap: 2.5rem;
  line-height: 1.3em;
}

.infoLink {
  color: var(--bg-accent);
  border-bottom: solid #fff 1px;
  font-style: italic;
}

.citeLink {
  color: var(--bg-accent);
  // font-weight: bold;
}

.infoLink:hover,
.citeLink:hover {
  color: var(--text-accent);
}

.intoTitle {
  font-size: 2.3rem;
  line-height: 1.3em;
  font-family: var(--header-font);
}

.citeText {
  font-size: .75em;
  line-height: 1.2em;
  text-align: left;
}