.container {
  text-align: center;
}

.container a {
  display: inline-block;
  text-align: center;
  background-color: var(--bg-accent);
  color: #000;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  transition: background-color .3s ease-in-out;
}

.container a:hover {
  background-color: #fff;
  color: #000;
}
