.container {
  text-align: center;
}

.container a {
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  padding: 15px 10px 5px 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 32pt;
}

.container a:hover {
  background-color: black;
  color: white;
}