@import "../../common/util.scss";

.container {
  @include container;
  text-align: left;
  font-size: 21px;
}

.columnContainer {
  margin-top: 1em !important;
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.header {
  margin: 0 0 37px;
  font-size: 36px;
  font-family: var(--header-font);
}
