@import "../../common/util.scss";

.container {
  @include container;
  text-align: left;
  font-size: 21px;
}

.columnContainer {
  margin-top: 1em !important;
  @include ph(0);
  @include medium {
    max-width: 100% !important;
  }
}

.header {
  margin: 0 0 37px;
  font-size: 36px;
  font-family: var(--header-font);
}
