.container {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-size: 21px;
  line-height: 25.2px;
  grid-column: 1 / span var(--columns);
  max-width: var(--insetMaxWidth);
  margin: 0 auto 100px auto;
}

.fullBleede {
  max-width: 100vw;
}
