
@font-face {
    font-family:"Arial Blur";
    src:url("ArialBlur2.woff2") format("woff2"),url("ArialBlur2.woff") format("woff"),url("ArialBlur2.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        