@import '../../common/reset.css';
@import '../../common/variables.css';
@import '../../common/type.css';

body {
  margin: 0;
  font-family: var(--body-font);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);

  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: none;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
  line-height: 1.2em;
  position: relative;
  color: white;
}

.title {
  color: var(--text-accent);
  font-size: 13vw;
  font-family: 'Days One', sans-serif;;
  font-weight: 500;
  line-height: 14vw; 
}

.blobs {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h5 {
  font-size: 21px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

ol {
  padding-left: 1.8em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
