@import "../../common/util";

.container {
  @include m;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include medium {
    margin-top: var(--page-gutter);
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
    position: fixed;
  }
}

.headerArtist {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  display: block;
}

.headerTitle {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-family: var(--header-font);
}

.headerMaterials {
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
}

.headerLink {
  background-color: white;
  color: black;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
  /* border: 2px solid #000; */
  padding: 2px;
}


.headerLink:hover {
  background-color: #000;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
}

.headerLink a:hover {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

