.container {
  text-align: left;
  position: fixed;
  top: var(--page-gutter);
  left: var(--page-gutter);
  z-index: 1;
}

.headerArtist {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-accent);
}

.headerTitle {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-family: var(--header-font);

}

.headerMaterials {
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
  color: var(--bg-accent);
}

.headerLink {
  background-color: var(--text-accent);
  color: black;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #000;
}


.headerLink a:hover {
  background-color: #000;
  color: var(--text-accent);
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

