.container {
  text-align: left;
  position: fixed;
  top: 75px;
  left: 75px;
  z-index: 1;
}

.headerArtist {
  margin: 0;
  font-size: 24px;
}

.headerTitle {
  margin: 0;
  font-size: 48px;
  line-height: 57px;
  font-family: var(--header-font);
}

.headerMaterials {
  font-style: italic;
  font-size: 18px;
}

.headerLink {
  background-color: white;
  color: black;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 6px 6px 4px 6px;
}

a {
  color: black;
  text-decoration: none;
}

