@import "../../common/util";

.container {
  @include m;
  text-align: left;
  @include medium {
    margin-top: var(--page-gutter);
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
  }
  position: absolute;
  z-index: 2;
}
.fluid {
  position: static;
}

.headerArtist {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  display: block;
}

.headerTitle {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-family: var(--header-font);

}

.headerMaterials {
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
}

.headerLink {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 2px;
  text-decoration: underline;
}


.headerLink:hover {
  // background-color: #ffffff;
  color: white;
  font-size: 16px;
  line-height: 16px;
  // font-weight: bold;
  display: inline-block;
}

.headerLink a:hover {
  color: var(--bg-accent);
}

a {
  color: #ffffff;
  text-decoration: none;
}
