@import "../../common/util";

.container {
  @include m;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include medium {
    margin-top: var(--page-gutter);
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
  }
}

.headerArtist {
  font-family: var(--header-font);
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
}

.headerTitle {
  margin-bottom: 12px;
  letter-spacing: 0;
  display: block;
  max-width: 800px;
  font-size: 44px;
  line-height: 48px;
  font-family: var(--header-font);
}

.headerMaterials {
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
}

.headerLink {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  text-decoration: underline;
}


.headerLink:hover {
  color: white;
}

.headerLink a:hover {
  color: var(--bg-accent);
}

a {
  color: #ffffff;
  text-decoration: none;
}
