body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  /* min-height: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  position: relative;
  color: white;
}

.title {
  color: #e3f994;
  font-size: 17vw;
  font-family: sans-serif; 
  font-weight: 700;
}
.blobs {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PEND LM: Not sure where this goes */


h4 {
  font-family: "Poppins Bold";
  font-size: 36pt;
  margin-bottom: 0;
}

h5 {
  font-family: "Letter Gothic";
  font-size: 21pt;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

ol {
  padding-left: 1.8em;
}

.artistContent {
  max-width: 70%;
  margin: 200px auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Letter Gothic";
  src: url("fonts/LetterGothicStd.otf");
}