@font-face {
  font-family: "Arial Black";
  src: url("/fonts/ariblkmin/ariblkmin.eot");
  src: url("/fonts/ariblkmin/ariblkmin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ariblkmin/ariblkmin.woff2") format("woff2"),
    url("/fonts/ariblkmin/ariblkmin.woff") format("woff"),
    url("/fonts/ariblkmin/ariblkmin.ttf") format("truetype"),
    url("/fonts/ariblkmin/ariblkmin.svg#Arial Black") format("svg");
}

@font-face {
  font-family: "Arial Blur";
  src: url("/fonts/ArialBlur3/ArialBlur3.woff2") format("woff2"),
    url("/fonts/ArialBlur3/ArialBlur3.woff") format("woff"),
    url("/fonts/ArialBlur3/ArialBlur3.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

:root {
  --background-color: #000;
  --body-font: Arial, Helvetica, sans-serif;
  --header-font: Arial Black, Gadget, sans-serif;
  --title-font: "Arial Black";
  --link-font: "Arial Narrow", sans-serif;
  --text-accent: #ceffd6;
  --bg-accent: #9cbaf9;
  --columns: 4;
  --insetMaxWidth: 60%;
  --page-gutter: 5vw;
}

@custom-media --mobile (max-width: 1080px);
@custom-media --tablet (min-width: 600px);
@custom-media --desktop (min-width: 768px);
@custom-media --huge (min-width: 1500px);
