@font-face {
  font-family: "Arial Black";
  src: url("/fonts/ariblk/ariblk.eot");
  src: url("/fonts/ariblk/ariblk.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ariblk/ariblk.woff2") format("woff2"),
    url("/fonts/ariblk/ariblk.woff") format("woff"),
    url("/fonts/ariblk/ariblk.ttf") format("truetype"),
    url("/fonts/ariblk/ariblk.svg#Arial Black") format("svg");
}

:root {
  --background-color: #000;
  --body-font: Arial, Helvetica, sans-serif;
  --header-font: Arial Black, Gadget, sans-serif;
  --link-font: "Arial Narrow", sans-serif;
  --text-accent: #ceffd6;
  --bg-accent: #9cbaf9;
  --columns: 4;
  --insetMaxWidth: 60%;
  --page-gutter: 5vw;
}

@custom-media --mobile (max-width: 1080px);
@custom-media --tablet (min-width: 600px);
@custom-media --desktop (min-width: 768px);
@custom-media --huge (min-width: 1500px);
