
@font-face {
    font-family:"ArialBlur3";
    src:url("ArialBlur3.woff2") format("woff2"),url("ArialBlur3.woff") format("woff"),url("ArialBlur3.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        