.container {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 43.2px;
  text-align: left;
  position: fixed;
  bottom: 75px;
  left: 75px;
  z-index: 1;
}

.container ul, .container li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li a {
  color: white;
}

.container li a:hover {
  text-decoration: underline;
}
