@import "../../common/util.scss";

.container {
  @include ml(m);
  @include mb(l);
  font-family: var(--header-font);
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  font-weight: 100;
  @include medium {
    margin-left: var(--page-gutter);
    margin-bottom: 7vh;
  }
  @include portrait {
    margin-bottom: calc(100vw/11);
  }
}

.container ul, .container li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li a {
  color: white;
  text-decoration: none;
}

.container li a:hover {
  text-decoration: underline;
  color: var(--bg-accent);
  /* border-bottom: 1px solid #fff; */
}
