.container {
  padding: 60.97% 0 0 0;
  position:relative;
}

.frame, .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  background-color: #000;
  border: 0px;
  cursor: pointer;
  left: 50%;
  font-family: var(--header-font);
  font-size: 21px;
  font-weight: 700;
  padding: 20px;
  position: absolute;
  line-height: 36px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in-out;
  z-index: 3;
}
.poster {
  cursor: pointer;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 2;
}
.open {
  opacity: 0;
  pointer-events: none;
}